body {
         margin: 20px;
         background-color: white;
         color: rgb(51,51,51);
     }
     
     h1 {
         color: #2c3e50;
         text-align: center;
     }
     
     .matrix-input {
         margin: 20px 0;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     
     input {
         width: 50px;
         margin: 5px;
         padding: 10px;
         font-size: 1em;
         text-align: center;
     }
     
     button {
         padding: 10px 20px;
         font-size: 1em;
         background-color: rgb(41,128,185);
         color: white;
         border: none;
         border-radius: 4px;
     }
     
     button:hover {
         background-color: rgb(28,102,145);
     }
     
     .result {
         margin-top: 20px;
         padding: 10px;
         border-radius: 4px;
         background: wheat;
     }
     
     
     input {
         background-color: white;
         border: 1px solid white;
         margin: 5px;
         text-align: center;
     }
     
     footer {
         text-align: center;
         margin-top: 40px;
         font-size: 0.9em;
         color: rgb(127,140,141);
     }
     